


<p>
    <input type="checkbox" name="isDone" {{#if todoItem.isDone}}checked{{/if}} disabled>
    {{todoItem.name}}
</p>
<a href="/todos/{{todoItem._id}}/edit">edit</a>
<a href="/">back</a>
<form action="/todos/{{todoItem._id}}?_method=DELETE" method="POST" style="display:inline;">
    <button type="submit">delete</button>
</form>